/* $Id$ */

body {
  margin: 0;
  font-family: Tahoma, Arial, sans-serif, serif, monospace;
  background-color: #f8f8f8;
}
h2 {
  margin: 0;
  font-size: 1em;
}

#header {
  margin: 0;
  background: url(/images/php.gif) #5a5993 no-repeat;
  padding: 20px 0 10px 150px;
  height: 37px;
  font-style: italic;
  font-size: 1em;
  color: #B5B5E9;
}
#header a {
  color: #B5B5E9;
}

#mainmenu {
  margin: 0;
  background-color: #f3f3f3;
  font-size: 0.9em;
  padding: 8px 10px;
  text-align: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #D0D0D0;
}
#mainmenu li {
  display: inline;
  padding: 0 1%;
  border-right: 1px solid #CDCDCD;
}
#mainmenu li a {
  color: #6181B7;
}
#mainmenu li:last-child {
  border: 0px;
}

#searchbox {
  color: #B5B5E9;
  position: absolute;
  top: 20px;
  right: 200px;
}

#copyright {
  margin: 0;
  background-color: #f3f3f3;
  font-size: 0.9em;
  padding: 8px 10px;
  text-align: left;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #D0D0D0;
}

#profile {
  margin: 10px 100px 0 100px;
  padding-bottom: 20px;
}

#profile dl {
	padding-bottom: 20px;
	margin: 0;
}
#profile dd {
	line-height: 20px;
	margin-left: 150px;
}
#profile dt {
	float: left;
	line-height: 20px;
	color: #5A5993;
}
#blurb,
#karma,
#notes {
	color: #5A5993;
}

.blurb {
  margin: 0 0 0 2em;
  width: 600px;
}

.warning {
  padding: 1em;
  margin: 0px;
  border-bottom:1px solid #D0D0D0;
  margin-bottom: 6px;
  text-align: center;
  font-weight: bold;
  font-size:1.17em;
  background:#ffffff;
  color:#6F0000;
}
.error {
  background: #FFEEEE;
  border: 1px solid #666600;
  color: #660000;
}
.smaller {
  font-size: .9em;
}

.note {
  text-indent: 30px;
  margin: 5px;
  padding: 5px 0 0 0;
  border-bottom:1px dashed #5A5993;
  width: 600px;
}
.note:last-child {
  border-bottom: 0;
}

/* {{{ Stolen from http://www.devbridge.com/projects/autocomplete/jquery/ */
.autocomplete-w1 {
  background: url(images/shadow.png) no-repeat bottom right;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 6px 0 0 6px;
  /* IE6 fix: */
  _background:none; _margin:1px 0 0 0;
}
.autocomplete {
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  text-align: left;
  max-height: 350px;
  overflow: auto;
  margin: -6px 6px 6px -6px;
  /* IE6 specific: */
  _height:350px;  _margin:0; _overflow-x:hidden;
}
.autocomplete .selected {
  background:#F0F0F0;
}
.autocomplete div {
  padding: 2px 5px;
  white-space: nowrap;
}
.autocomplete strong {
  font-weight: normal;
  color: #3399FF;
}

/* }}} */

/* vim: set expandtab shiftwidth=2 softtabstop=2 tabstop=2 fdm=marker : */

